.incrementBox {
  position: relative;
  float: left;
}

.incrementBox .incrementHover {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 1s ease;
}

.incrementBox:hover .incrementHover {
  opacity: 1;
  transition: all 1s ease;
}

.increment {
}
